<<<<<<< HEAD
$variants: (
  primary: $primary-color,
  secondary: $secondary-color,
  dark: $dark-color,
);
=======
$variants: (
  primary: $primary-color,
  secondary: $secondary-color,
  dark: $dark-color,
);
>>>>>>> 4a678be... initial commit
